@import '../../variables.css';

.upload-page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20vh;
}

.summary-block {
    width: 100%;
    padding: 3vh;
}